<div class="col-md-12"
     [ngStyle]="{
      'position':'fixed',
      'top': '0px',
      'left': '0px',
      'width': '100%',
      'z-index':'9999',
      'border-radius':'0px',
      'text-align': 'center'}">
  <ngb-alert *ngIf="success" type="success" [dismissible]="false">User deleted!</ngb-alert>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" style="width: 10%" class="text-center">#</th>
    <th scope="col" style="width: 40%" class="text-center">Username</th>
    <th scope="col" style="width: 40%" class="text-center">Email</th>
    <th scope="col" style="width: 10%" class="text-center">Option</th>
  </tr>
  </thead>
</table>
<app-user-item (successDel)="receiveDel($event)" *ngFor='let userElement of users'
    [user]="userElement"></app-user-item>
